@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 6px;
  background: #141414; 
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4D4D4D; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #262626 #141414;
}

body{
  background-color:#141414;
  color: white; 
}